<div class="mat-elevation-z2" *ngFor="let rol of viewModel">
    <div class="heading">
        <h3>
            {{ rol.rol }}
        </h3>
        <button
            [routerLink]="'/' + r_rol + '/' + r_rolEdit + '/' + rol.id_rol"
            mat-raised-button
            color="primary"
        >
            <mat-icon>edit</mat-icon>
            Editar
        </button>
    </div>

    <table mat-table [dataSource]="rol.permisos" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let permiso; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>

        <!-- Menú Column -->
        <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef>Menú</th>
            <td mat-cell *matCellDef="let permiso">{{ permiso.menu }}</td>
        </ng-container>

        <!-- Permiso Column -->
        <ng-container matColumnDef="permiso">
            <th mat-header-cell *matHeaderCellDef>Permiso</th>
            <td mat-cell *matCellDef="let permiso">{{ permiso.permiso }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'menu', 'permiso']"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['id', 'menu', 'permiso']"
        ></tr>
    </table>
</div>
