<mat-nav-list>
    <!-- Menú: Dashboard -->

    <div class="btn-arrow" (click)="toggleMenu('dashboard')">
        <div class="cotenedor-menu">
            <div class="menu-main">
                <mat-icon class="menu-icon">dashboard</mat-icon>

                <!-- <a mat-list-item class="menu- toggle"> -->
                <span class="menu-title">Dashboard</span>
                <span class="spacer"></span>
                <!-- </a> -->
            </div>

            <!-- <button class="btn-arrow"> -->
            <mat-icon>{{
                openMenu === 'dashboard' ? 'expand_less' : 'expand_more'
            }}</mat-icon>
            <!-- </button> -->
        </div>

        <div
            class="submenu"
            [class.open]="openMenu === 'dashboard'"
            *ngIf="openMenu === 'dashboard'"
        >
            <a mat-list-item routerLink="/dashboard/overview">Resumen</a>
            <a mat-list-item routerLink="/dashboard/stats">Estadísticas</a>
        </div>
    </div>
</mat-nav-list>
