<mat-nav-list>
    <ng-container *ngFor="let menu of menuList">
        <div
            class="btn-arrow"
            (click)="menu.children.length > 0 && toggleMenu(menu.id)"
            [routerLink]="menu.ruta"
        >
            <div class="cotenedor-menu">
                <div class="menu-main">
                    <mat-icon class="menu-icon">{{ menu.icono }}</mat-icon>
                    <span>{{ menu.nombre }}</span>
                </div>
                <mat-icon *ngIf="menu.children.length > 0">
                    {{ isMenuOpen(menu.id) ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </div>
        </div>

        <div *ngIf="isMenuOpen(menu.id)" class="submenu">
            <a
                *ngFor="let sub of menu.children"
                mat-list-item
                [routerLink]="sub.ruta"
            >
                {{ sub.nombre }}
            </a>
        </div>
    </ng-container>
</mat-nav-list>
