<div class="page-header">
    <div class="left">
        <nav class="breadcrumbs" *ngIf="breadcrumbs.length">
            <ng-container *ngFor="let item of breadcrumbs; let last = last">
                <span class="breadcrumb">{{ item }}</span>
                <mat-icon *ngIf="!last">chevron_right</mat-icon>
            </ng-container>
        </nav>
        <h2 class="title">{{ title }}</h2>
    </div>

    <a
        mat-flat-button
        [routerLink]="link"
        color="warn"
        *ngIf="showButton"
        class="action-button"
    >
        <mat-icon *ngIf="buttonIcon" class="icon">{{ buttonIcon }}</mat-icon>
        {{ buttonLabel }}
    </a>
</div>
