   mat-sidenav {
    border-radius: 0;
     width: 220px;
     background-color: #9ae600;
  }

  /* @media (min-width: 600px) {
    mat-sidenav{
        width: 220px;
    }
  } */


 /* .layout-container{
       height: 100vh;
       height: auto;
 } */

/* @media (min-width: 959px) {
    .layout-container{
        height: auto;
    }
} */

/* layout.component.css */

/* Toolbar fijo arriba */
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1000;
}

/* Contenedor general debajo del toolbar */
.sidenav-container {
  position: fixed;
  top: 64px; /* altura del toolbar */
  bottom: 0;
  left: 0;
  right: 0;
}

/* Sidenav fijo por defecto */
/* .sidenav {
  width: 240px;
} */

/* Contenido con scroll */
.content {
  height: 100%;
  overflow-y: auto;
  padding: 16px;
}





