<table
    mat-table
    [dataSource]="dataSource"
    *ngIf="dataSource && dataSource.length > 0"
    class="mat-elevation-z8"
>
    <!-- Número -->
    <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Categoría -->
    <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoría</th>
        <td
            mat-cell
            *matCellDef="let element"
            (click)="selectReporte(element)"
            class="td_hover"
        >
            {{ element.categoria }}
        </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button
                mat-icon-button
                color="primary"
                (click)="showReporte(element.id)"
            >
                <mat-icon style="color: #05df72">visibility</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Header y Body -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
