<!-- <table mat-table [dataSource]="datasource"> -->
<table mat-table [dataSource]="datasource" *ngIf="datasource.length > 0">
    <!-- N° -->
    <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let element; let i = index">
            {{ (currentPage - 1) * pageSize + i + 1 }}
        </td>
    </ng-container>

    <!-- Username -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <!-- Password attemps -->
    <ng-container matColumnDef="password_attemps">
        <th mat-header-cell *matHeaderCellDef>Intentos de contraseña</th>
        <td mat-cell *matCellDef="let element">
            {{ element.password_attempts }}
        </td>
    </ng-container>

    <!-- Rol -->
    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
            {{ element.persona?.nombre }}
        </td>
    </ng-container>

    <!-- Apellido -->
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">
            {{ element.persona?.apellido }}
        </td>
    </ng-container>

    <!-- DNI -->
    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let element">{{ element.persona?.dni }}</td>
    </ng-container>

    <!-- Digito Verificador -->
    <ng-container matColumnDef="digito_verificador">
        <th mat-header-cell *matHeaderCellDef>DV</th>
        <td mat-cell *matCellDef="let element">
            {{ element.persona?.digito_verificador }}
        </td>
    </ng-container>

    <!-- Domicilio -->
    <ng-container matColumnDef="domicilio">
        <th mat-header-cell *matHeaderCellDef>Domicilio</th>
        <td mat-cell *matCellDef="let element">
            {{ element.persona?.direccion_domicilio }}
        </td>
    </ng-container>

    <!-- Domicilio -->
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
        <td mat-cell *matCellDef="let element">
            {{ element.persona?.telefono }}
        </td>
    </ng-container>

    <!-- Usuario crea -->
    <ng-container matColumnDef="usuario_crea">
        <th mat-header-cell *matHeaderCellDef>Usuario Crea</th>
        <td mat-cell *matCellDef="let element">
            {{ element?.usuario_crea }}
        </td>
    </ng-container>

    <!-- Usuario modifica -->
    <ng-container matColumnDef="usuario_modifica">
        <th mat-header-cell *matHeaderCellDef>Usuario Modifica</th>
        <td mat-cell *matCellDef="let element">
            {{ element?.usuario_modifica }}
        </td>
    </ng-container>

    <!-- fecha crea -->
    <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
        <td mat-cell *matCellDef="let element">
            {{ element?.created_at | date : 'dd/MM/yyyy' }}
        </td>
    </ng-container>

    <!-- fecha modifica -->
    <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef>Fecha de modificación</th>
        <td mat-cell *matCellDef="let element">
            {{ element?.updated_at | date : 'dd/MM/yyyy' }}
        </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
            <span [appEstado]="element.estado"></span>
        </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <div class="action-buttons">
                <button mat-icon-button color="primary" style="color: #ff8904">
                    <mat-icon>edit</mat-icon>
                    <!-- Editar -->
                </button>

                <button mat-icon-button color="primary" style="color: #2b7fff">
                    <mat-icon>key</mat-icon>
                    <!-- Resetear -->
                </button>

                <button mat-icon-button color="primary" style="color: #05df72">
                    <mat-icon>visibility</mat-icon>
                    <!-- Resetear -->
                </button>
                <button
                    mat-icon-button
                    color="warn"
                    style="color: #ef4444"
                    (click)="onDelete(element.id)"
                >
                    <!-- Si estado es 0, muestra "mode_off_on", de lo contrario "delete" -->
                    <mat-icon *ngIf="element.estado === '0'">check</mat-icon>
                    <mat-icon *ngIf="element.estado !== '0'">delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="onPageChange($event)"
>
</mat-paginator>
