table {
  width: 100%;
}
/*
.estado-activo {
  background-color: #7ccf00;
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
}

.estado-eliminado {
  background-color: #fb2c36;
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
}

.estado-suspendido {
  color: #fdc700;
  font-weight: bold;
}

.estado-desconocido {
  color: gray;
  font-style: italic;
} */
