<div class="dashboard-container">
    <h2 class="dashboard-title">Dashboard</h2>

    <div class="dashboard-grid">
        <div class="dashboard-card usuarios">
            <mat-icon class="dashboard-icon icon"
                >admin_panel_settings</mat-icon
            >
            <div class="dashboard-info">
                <!-- <h3>{{ totalUsuarios }}</h3> -->
                <h3>6</h3>
                <span>Usuarios</span>
            </div>
        </div>

        <div class="dashboard-card clientes">
            <mat-icon class="dashboard-icon icon">group</mat-icon>
            <div class="dashboard-info">
                <!-- <h3>{{ totalClientes }}</h3> -->
                <h3>75</h3>
                <span>Clientes</span>
            </div>
        </div>

        <div class="dashboard-card reportes">
            <mat-icon class="dashboard-icon icon">campaign</mat-icon>
            <div class="dashboard-info">
                <!-- <h3>{{ totalReportes }}</h3> -->
                <h3>1500</h3>
                <span>Reportes</span>
            </div>
        </div>
    </div>
</div>
