.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar {
    /* z-index: 5; */
    background-color: #9ae600;
    height: 64px;
  }

  .left-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .logo {
    width: 48px;
    height: auto;
  }

  .app-name {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
  }

  @media (min-width: 768px){
    #menuIcon{
        display: none;
    }
  }
