<mat-toolbar>
    <button
        id="menuIcon"
        (click)="onClick()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Botón de Pánico</span> -->
    <div class="left-section">
        <img src="./images/logo.png" alt="Logo" class="logo" />
        <span class="app-name">Botón de Pánico</span>
    </div>

    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
    >
        <mat-icon>favorite</mat-icon>
    </button>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
    >
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
