.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container{
    padding-bottom: 50px;
}

.full-width {
  width: 100%;
}

@media (min-width: 768px) {
    .full-width {
    width: 75%;
    }
}

.radio-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

mat-radio-button {
  margin-right: 1rem;
}

.permisos-section {
  margin-top: 2rem;
}

.menu-title,
.submenu-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
